body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.currency-select {
  border: none;
}

.custom-budget {
  display: flex;
  align-items: center;
  flex-shrink: 1;
}

.custom-budget label {
  flex-basis: 1/2;
  flex-shrink: 0;
}
.custom-budget input {
  width: fit-content;
}
